<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Administrator" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{{block "stylesheets"}}}
  </head>
  <body>
    {{{body}}}

    <hr/>
    {{{block "scripts"}}}
    <div id="footer">
    &copy; Copyright 2016 All Rigths Reserved. Elearn
    </div>
  </body>
</html>
